<!DOCTYPE html>
<html>
  <head>
    <!--Partial HEAD -->
    <%- include('../partials/head'); %>
    <!-- Agregar estilos al body  -->
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
   <!--Partial Menú-->
   <%- include('../partials/navbar'); %>
    <% if (mensaje){%>
    <div class= "alert alert-danger" role = "alert">
        <%-mensaje %>
    </div>
   <% } %>

   <div class="card">
    <div class="card-header">
    Agregar Escrito
    </div>
    <div class="card-body">
    <form action="/escritos/add" method="post">
    <div class="form-group">
    <label>Id_Escrito:</label>
    <input type="text" class="formcontrol"
    name="Id_Escrito" value="<%= Id_Escrito %>" autocomplete="off">
    </div>
    <div class="form-group">
    <label>Id_Autor:</label>
    <input type="text" class="formcontrol"
    name="Id_Autor" value="<%= Id_Autor %>" autocomplete="off">
    </div>
    <div class="form-group">
    <label>Id_Libro:</label>
    <input type="text" class="formcontrol"
    name="Id_Libro" value="<%= Id_Libro %>" autocomplete="off">
    </div>
    <div class="form-group">
        <label>Descripción:</label>
        <input type="text" class="formcontrol"
        name="Descripcion" value="<%= Descripcion %>" autocomplete="off">
        </div>
        <div class="form-group">
        <label>ISBN</label>
        <input type="date" class="formcontrol"
        name="ISBN" value="<%= ISBN %>" autocomplete="off">
        </div>
        <div class="form-group">
        <input type="submit" class="btn btn-info" value="Agregar" />
        </div>
        </form>
        </div>
        </div>
   
     
    



  

  <!--Partial Scripts-->
  <%- include('../partials/script'); %>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-Consumiendo microservicios con NodeJSPágina 8 de 15ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
<script src="/javascripts/escritos.js"></script>
  </body>
  <footer>
    <!--Partial Footer-->  
     <%- include('../partials/footer'); %> 
</footer>
</html>
